<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="scrcpy_gui.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <scrcpy_gui.Settings>
            <setting name="置顶" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="禁用屏幕保护程序" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="剪切板同步" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="禁用控制" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="音频流转" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="结束后关闭屏幕" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="保持唤醒" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="用OTG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="窗口标题" serializeAs="String">
                <value>Remote</value>
            </setting>
            <setting name="文件存放目录" serializeAs="String">
                <value>/sdcard/Download/</value>
            </setting>
            <setting name="关闭工具栏" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="多开1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>false</string>
                        <string>1050</string>
                        <string>2300</string>
                        <string>350</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="多开2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>false</string>
                        <string>1050</string>
                        <string>2300</string>
                        <string>350</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="多开3" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>false</string>
                        <string>1050</string>
                        <string>2300</string>
                        <string>350</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="多开4" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>false</string>
                        <string>1050</string>
                        <string>2300</string>
                        <string>350</string>
                    </ArrayOfString>
                </value>
            </setting>
        </scrcpy_gui.Settings>
    </userSettings>
</configuration>